{% extends "base.html" %}
{% block content %}
<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/babel-standalone/6.26.0/babel.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/babel-polyfill/6.26.0/polyfill.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/es6-promise@4/dist/es6-promise.auto.min.js"></script> 
<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.1/Chart.min.js"></script>
<script src="https://unpkg.com/vue-chartjs/dist/vue-chartjs.min.js"></script>
<link rel=stylesheet type=text/css href="<< url_for("static", filename='css/time.css') >>">

<div class="columns is-fullheight" id=get_brand>
  <div class="column is-2 is-sidebar-menu is-hidden-mobile">
    <aside class="menu">
  <p class="menu-label">
    Stock
  </p>
  <ul class="menu-list">
    <p class="menu-label">add new stock...</p>
    <p class="text"><input type="text" placeholder="add new stock" v-model="brand" /></p>
    <p class="submit"><button @click="getTimeSeries">submit</button></p>
  </ul>
</aside>
  </div>
    <div class="column is-main-content">
    {% if current_user.is_authenticated %}
        <canvas id="myChart"></canvas>
    {% else %}
        <h1 class="title">
            <li v-for="time in timeseries" :key="time.id">
            </li>
            <font color="red">Warning</font>
        </h1>
        <h2 class="subtitle">
            please login quandl api key....
        </h2>
    {% endif %}
  </div>
</div>

<script>
vm = new Vue({
    el: "#get_brand",
    data: {
	  timeseries:[],
      label:[],
      title:"",
	  brand:"TSE/"
    },
    methods:{
	   getTimeSeries:function(){
	   const path="http://localhost:5000/get_time";
       console.log("aaaa");
       var brand = this.brand;
       axios.get(path, {params:{brand: brand}})
        .then(response=>{
            var obj = JSON.parse(response.data);
            this.timeseries = obj["data"];
            this.label = obj["index"];
            console.log(this.label);
            this.title = this.brand;
            this.brand = "TSE/";
        })
        .catch(err=>{alert("入力された内容かapiが間違っています!")});
        },
    },
    watch:{ title: function() {
      var ctx = document.getElementById('myChart').getContext('2d');
      var myChart = new Chart(ctx, {
      type: 'line',
      data: {
          labels: this.label,
          datasets: [{
              label: this.title,
              data: this.timeseries
          }]
        }
      });
    }
    }
})
</script>
{% endblock %}

